In [1]:
import pandas as pd

In [30]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
!head us_stocks.csv

ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
A,1999-11-18,45.5,50.0,40.0,44.0,44739900.0,0.0,1.0,31.041951216877,34.112034304261,27.289627443409,30.018590187749,44739900.0
A,1999-11-19,42.94,43.0,39.81,40.38,10897100.0,0.0,1.0,29.295415060499,29.336349501664,27.160001713052,27.548878904121,10897100.0
A,1999-11-22,41.31,44.0,40.06,44.0,4705200.0,0.0,1.0,28.18336274218,30.018590187749,27.330561884574,30.018590187749,4705200.0
A,1999-11-23,42.5,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229158622,29.766161133898,27.46018761493,27.46018761493,4274400.0
A,1999-11-24,40.13,41.94,40.0,41.06,3464400.0,0.0,1.0,27.3783187326,28.613174374414,27.289627443409,28.012802570659,3464400.0
A,1999-11-26,40.88,41.5,40.75,41.19,1237100.0,0.0,1.0,27.889999247164,28.312988472536,27.801307957973,28.10149385985,1237100.0
A,1999-11-29,41.0,42.44,40.56,42.13,2914700.0,0.0,1.0,27.971868129494,28.954294717457,27.671682227616,28.74280010477,2914700.0
A,1999-11-30,42.0,42.94,40.94,42.19,3083000.0,0.0,1.0,28.654108815579,29.295415060499,27.930933688329,28.783734545935,3083000.0
A,1999-12-01,42.19,43.44,41.88,42.94,2115400.0,0.0,1.0,28.783734545935,29.636535403542,28.572239933249,29.295415060499,2115400.0

In [7]:
df = pd.read_csv('us_stocks.csv', parse_dates=['date'])

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15389314 entries, 0 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         datetime64[ns]
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 1.6+ GB

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0

In [37]:
df.isnull().sum()

ticker           0
date             0
open           538
high            55
low             55
close            1
volume           0
ex-dividend      0
split_ratio      1
adj_open       538
adj_high        55
adj_low         55
adj_close        1
adj_volume       0
dtype: int64

In [12]:
f'{df.shape[0]:,}'

'15,389,314'

In [47]:
cols_to_keep = [
    'ticker',
    'date',
    'adj_open',
    'adj_high',
    'adj_low',
    'adj_close',
    'adj_volume',
]
df = df.loc[df.date.dt.year >= 2000, cols_to_keep]
df.columns = df.columns.map(lambda col: col.replace('adj_', ''))

f'{df.shape[0]:,}'
df.date.min()
df.head()

'11,343,920'

Timestamp('2000-01-03 00:00:00')

   ticker       date       open       high        low      close     volume
30      A 2000-01-03  53.726454  53.856080  45.969377  49.121329  3343600.0
31      A 2000-01-04  46.481058  46.992738  44.175084  45.369006  3408500.0
32      A 2000-01-05  45.198445  45.239380  41.828176  41.998737  4119200.0
33      A 2000-01-06  42.046493  42.298923  39.658651  40.934441  1812900.0
34      A 2000-01-07  40.293135  44.986951  40.252200  44.345645  2016900.0

In [48]:
df = df.set_index(['ticker', 'date'])
df.head()

                        open       high        low      close     volume
ticker date
A      2000-01-03  53.726454  53.856080  45.969377  49.121329  3343600.0
       2000-01-04  46.481058  46.992738  44.175084  45.369006  3408500.0
       2000-01-05  45.198445  45.239380  41.828176  41.998737  4119200.0
       2000-01-06  42.046493  42.298923  39.658651  40.934441  1812900.0
       2000-01-07  40.293135  44.986951  40.252200  44.345645  2016900.0

In [53]:
df.to_hdf('us_stocks.h5', key='us_stocks', mode='w')